In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.float_format", "{:,.2f}".format)

In [2]:
core_sales = pd.DataFrame({
    "date": pd.to_datetime([
        "2024-01-07", "2024-01-07", "2024-01-07", "2024-02-14"
    ]),
    "book_title": [
        "The Black Dahlia",
        "The Black Dahlia",
        "American Tabloid",
        "L.A. Confidential"
    ],
    "platform": [
        "Amazon KDP",
        "Amazon KDP",
        "Audible",
        "Barnes & Noble"
    ],
    "format": [
        "Ebook",
        "Paperback",
        "Audiobook",
        "Hardcover"
    ],
    "units_sold": [320, 140, 95, 80],
    "unit_price": [9.99, 17.99, 24.95, 28.00],
    "platform_fee_pct": [0.30, 0.40, 0.60, 0.45]
})

core_sales["gross_revenue"] = core_sales["units_sold"] * core_sales["unit_price"]
core_sales["royalty_net"] = core_sales["gross_revenue"] * (1 - core_sales["platform_fee_pct"])

core_sales

,date,book_title,platform,format,units_sold,unit_price,platform_fee_pct,gross_revenue,royalty_net
0,2024-01-07,The Black Dahlia,Amazon KDP,Ebook,320,9.99,0.30,"3,196.80","2,237.76"
1,2024-01-07,The Black Dahlia,Amazon KDP,Paperback,140,17.99,0.40,"2,518.60","1,511.16"
2,2024-01-07,American Tabloid,Audible,Audiobook,95,24.95,0.60,"2,370.25",948.10
3,2024-02-14,L.A. Confidential,Barnes & Noble,Hardcover,80,28.00,0.45,"2,240.00","1,232.00"

In [3]:
sales_trends = pd.DataFrame({
    "month": pd.to_datetime([
        "2024-01-01", "2024-02-01", "2024-06-01", "2024-11-01"
    ]),
    "book_title": [
        "The Black Dahlia",
        "L.A. Confidential",
        "American Tabloid",
        "The Cold Six Thousand"
    ],
    "total_units": [460, 510, 780, 1020],
    "total_revenue": [5715.40, 8420.30, 13250.75, 18490.20],
    "season": ["Winter", "Awards", "Summer", "Holiday"]
})

sales_trends

       month             book_title  total_units  total_revenue   season
0 2024-01-01       The Black Dahlia          460       5,715.40   Winter
1 2024-02-01      L.A. Confidential          510       8,420.30   Awards
2 2024-06-01       American Tabloid          780      13,250.75   Summer
3 2024-11-01  The Cold Six Thousand         1020      18,490.20  Holiday

In [4]:
market_competition = pd.DataFrame({
    "rank": [1, 2, 3],
    "book_title": [
        "The Night Fire",
        "The Black Dahlia",
        "The Cartel"
    ],
    "author": [
        "Michael Connelly",
        "James Ellroy",
        "Don Winslow"
    ],
    "price": [14.99, 9.99, 12.99],
    "format": ["Ebook", "Ebook", "Ebook"],
    "avg_rating": [4.6, 4.4, 4.5],
    "review_count": [28500, 18700, 16400],
    "release_year": [2019, 1987, 2015]
})

market_competition

,rank,book_title,author,price,format,avg_rating,review_count,release_year
0,1,The Night Fire,Michael Connelly,14.99,Ebook,4.60,28500,2019
1,2,The Black Dahlia,James Ellroy,9.99,Ebook,4.40,18700,1987
2,3,The Cartel,Don Winslow,12.99,Ebook,4.50,16400,2015

In [5]:
platform_format = pd.DataFrame({
    "platform": [
        "Amazon KDP", "Amazon KDP", "IngramSpark", "Audible"
    ],
    "format": [
        "Ebook", "Paperback", "Hardcover", "Audiobook"
    ],
    "units_sold": [12400, 6200, 3100, 5400],
    "revenue": [123876, 111738, 86800, 134730],
    "royalty_net": [86713.20, 67042.80, 47740.00, 53892.00],
    "sell_through_pct": [np.nan, 82, 64, np.nan]
})

platform_format

      platform     format  units_sold  revenue  royalty_net  sell_through_pct
0   Amazon KDP      Ebook       12400   123876    86,713.20               NaN
1   Amazon KDP  Paperback        6200   111738    67,042.80             82.00
2  IngramSpark  Hardcover        3100    86800    47,740.00             64.00
3      Audible  Audiobook        5400   134730    53,892.00               NaN

In [6]:
marketing = pd.DataFrame({
    "campaign": [
        "Winter Noir Sale",
        "Author Spotlight",
        "Backlist Revival"
    ],
    "platform": [
        "Amazon Ads",
        "B&N Email",
        "Facebook Ads"
    ],
    "ad_spend": [2500, 1200, 1800],
    "impressions": [180000, 95000, 210000],
    "clicks": [7200, 4100, 5100],
    "units_sold": [980, 620, 340],
    "revenue": [14520, 11780, 4890]
})

marketing["conversion_rate"] = marketing["units_sold"] / marketing["clicks"]
marketing["roi"] = (marketing["revenue"] - marketing["ad_spend"]) / marketing["ad_spend"]

marketing

,campaign,platform,ad_spend,impressions,clicks,units_sold,revenue,conversion_rate,roi
0,Winter Noir Sale,Amazon Ads,2500,180000,7200,980,14520,0.14,4.81
1,Author Spotlight,B&N Email,1200,95000,4100,620,11780,0.15,8.82
2,Backlist Revival,Facebook Ads,1800,210000,5100,340,4890,0.07,1.72

In [7]:
reader_feedback = pd.DataFrame({
    "book_title": [
        "The Black Dahlia",
        "American Tabloid",
        "L.A. Confidential"
    ],
    "avg_rating": [4.4, 4.5, 4.6],
    "review_count": [18700, 16200, 24100],
    "page_count": [384, 608, 496],
    "genre": [
        "Neo-Noir Crime",
        "Political Crime",
        "Police Procedural Noir"
    ]
})

reader_feedback

,book_title,avg_rating,review_count,page_count,genre
0,The Black Dahlia,4.40,18700,384,Neo-Noir Crime
1,American Tabloid,4.50,16200,608,Political Crime
2,L.A. Confidential,4.60,24100,496,Police Procedural Noir

In [8]:
core_sales.groupby("format")["gross_revenue"].sum().sort_values(ascending=False)

format
Ebook       3,196.80
Paperback   2,518.60
Audiobook   2,370.25
Hardcover   2,240.00
Name: gross_revenue, dtype: float64

In [9]:
core_sales.groupby("platform")["royalty_net"].sum().sort_values(ascending=False)

platform
Amazon KDP       3,748.92
Barnes & Noble   1,232.00
Audible            948.10
Name: royalty_net, dtype: float64

In [10]:
dashboard = core_sales.merge(
    reader_feedback,
    on="book_title",
    how="left"
)

dashboard

,date,book_title,platform,format,units_sold,unit_price,platform_fee_pct,gross_revenue,royalty_net,avg_rating,review_count,page_count,genre
0,2024-01-07,The Black Dahlia,Amazon KDP,Ebook,320,9.99,0.30,"3,196.80","2,237.76",4.40,18700,384,Neo-Noir Crime
1,2024-01-07,The Black Dahlia,Amazon KDP,Paperback,140,17.99,0.40,"2,518.60","1,511.16",4.40,18700,384,Neo-Noir Crime
2,2024-01-07,American Tabloid,Audible,Audiobook,95,24.95,0.60,"2,370.25",948.10,4.50,16200,608,Political Crime
3,2024-02-14,L.A. Confidential,Barnes & Noble,Hardcover,80,28.00,0.45,"2,240.00","1,232.00",4.60,24100,496,Police Procedural Noir